$primary-dark: #272727;
$primary-light: #EFF1F3;
$screaming-green: #66FF66;
$blizzard-blue:#50BFE6;
$red-orange:#FF681F;

.layoutContainer{
    
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto auto auto 1fr auto;

}
.picture{
    
    margin: auto;
    padding-top: 2rem;
    padding-bottom: 2rem;

}
.buttonsContainer{
    
    display: flex;
    justify-content: center;

    .button{

        width: 8rem;
        height: 2rem;
        display: grid;
        place-content: center;
        text-align: center;
        cursor: pointer;
        &:hover{
            background-color: $primary-light;
            color: $primary-dark;
            font-size: 2rem;
            font-weight: bold;
        }
        &:nth-child(1){
            transform: translate(0,-32px);
            &:hover{
                background-color: $blizzard-blue;
            }
        }
        &:nth-child(2){
            &:hover{
                background-color: $red-orange;
            }
        }
        &:nth-child(3){
            transform: translate(0,-32px);
            &:hover{
                background-color: $screaming-green;
            }
        }

    };

}
.typedWords{

    ::-moz-selection { /* Code for Firefox */
        color: $primary-dark;
        background: $primary-light;
    }
      
    ::selection {
        color: $primary-dark;
        background: $primary-light;
    }
    
    width: 100%;
    height: auto;
    padding-top: 6rem;
    padding-bottom: .5rem;
    text-align: center;
    margin: auto;
    font-family: 'Courier New', Courier, monospace;
    font-size: 4rem;
    div{
        grid-column: 2 / span 2;
    }
}
.footer{
    
    background-color: $primary-dark;
    color: $primary-dark;
    text-align: center;
    &:hover{
        background-color: $primary-light;
        color: $primary-dark;
        transition: 1s;
    }

}