$primary-dark: #272727;
$primary-light: #EFF1F3;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: $primary-dark;
    color: $primary-light;
    min-height: 100vh;
    
}